html {
  height: 100%;
}

body {
  height: 100%;
  display: -webkit-box;
  display: flex;
  margin: auto;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  background-color: #111;
}

.key {
  float: left;
  position: relative;
}

.white {
  height: 14.4vw;
  width: 3.8095238095vw;
  z-index: 1;
  border-top: 0.12vw solid #AAAAAA;
  border-bottom: 0.12vw solid #AAAAAA;
  border-left: 0.12vw solid #AAAAAA;
  background-color: #CBCBCB;
}

.white.hlight {
  height: 14.4vw;
  width: 3.8095238095vw;
  z-index: 2;
  border-top: 0.12vw solid #AAAAAA;
  border-bottom: 0.12vw solid #AAAAAA;
  border-left: 0.12vw solid #AAAAAA;
  background-color: #E69F66;
}

.black {
  height: 7.92vw;
  width: 2.0952380952vw;
  z-index: 3;
  border: 0.12vw solid #000000;
  background-color: #222222;
}

.black.hlight {
  height: 7.92vw;
  width: 2.0952380952vw;
  z-index: 4;
  border: 0.12vw solid #000000;
  background-color: #E69F66;
}

.a, .b, .d, .e, .g, .black {
  margin: 0 0 0 -1.1676190476vw;
}

#keyboard > .note:last-child {
  border-right: 0.12vw solid #AAAAAA;
}

#chord-input {
    background-color:rgba(0, 0, 0, 0);
    color:#75715E;
    border: none;
    outline:none;
   
    height:150px;
    font-size:60pt;
}

.footerholder {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    position: fixed;
    text-align: center;
    width: 100%;
}

.footer {
    background: none repeat scroll 0 0 transparent;
    height: 20px;
    margin: auto;
    width: 400px;
    font-size: 10px;
    color:#75715E;
}

a {
  color: #F92672;
  text-decoration: none;
}
