html {
  height: 100%;
}

body {
  height: 90%;
  display: -webkit-box;
  display: flex;
  margin: auto;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  background-color: #111;
  font-family: 'Open Sans', sans-serif;
}

.key {
  float: left;
  position: relative;
}

.white {
  height: 14.4vw;
  width: 3.8095238095vw;
  z-index: 1;
  border-top: 0.12vw solid #AAAAAA;
  border-bottom: 0.12vw solid #AAAAAA;
  border-left: 0.12vw solid #AAAAAA;
  background-color: #CBCBCB;
}

.white.hlight {
  height: 14.4vw;
  width: 3.8095238095vw;
  z-index: 2;
  border-top: 0.12vw solid #AAAAAA;
  border-bottom: 0.12vw solid #AAAAAA;
  border-left: 0.12vw solid #AAAAAA;
  background-color: #E69F66;
}

.black {
  height: 7.92vw;
  width: 2.0952380952vw;
  z-index: 3;
  border: 0.12vw solid #000000;
  background-color: #222222;
}

.black.hlight {
  height: 7.92vw;
  width: 2.0952380952vw;
  z-index: 4;
  border: 0.12vw solid #000000;
  background-color: #E69F66;
}

.a, .b, .d, .e, .g, .black {
  margin: 0 0 0 -1.1676190476vw;
}

#keyboard > .note:last-child {
  border-right: 0.12vw solid #AAAAAA;
}

.footerholder {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  right: 3;
  position: fixed;
  width: 100%;
  text-align: right;
}

.inputholder {
  background: none repeat scroll 0 0 transparent;
  bottom: 20vh;
  position: absolute;
  width: 80%;
  text-align: center;
}

#chord-input {
  background-color:rgba(0, 0, 0, 0);
  color:#75715E;
  border: none;
  outline: none;
  height:10vw;
  font-size:8vw;
  padding: 0.2em; 
  box-sizing: border-box;
  width: 100%;
  text-align: center;
}

.footer {
  background: none repeat scroll 0 0 transparent;
  margin: .5vw;
  font-size: 10px;
  color:#75715E;
  bottom: 0;
}

.header {
  background: none repeat scroll 0 0 transparent;
  margin-right: .5vw;
  font-size: 48px;
  color:#75715E;
  top: 0;
}

.headerholder {
  background: none repeat scroll 0 0 transparent;
  top: 0;
  right: 3;
  position: fixed;
  width: 100%;
  text-align: right;
}

.blocker {
  z-index: 99 !important;
}

a {
  color: #F92672;
  text-decoration: none;
}

a.src {
  color: #a6e22e;
  text-decoration: none;
}

code {
    background: #f4f4f4;
    color: #666;
    font-family: monospace;
    font-size: 14px;
    word-wrap: break-word;
    border: 1px solid #ddd;
    line-height: 1.6;
}